{% extends "CoobixAdminBundle:Admin:dashboard_deshabilitado.html.twig" %}



{% block main_content %}

<div class="page-header">  
    <div class="right">
    {% block action_buttons %}

    <a href="{{ path('admin') }}" class="btn btn-link btn-icon">Volver</a>
    
    {% endblock action_buttons %}
    </div>
    <div class="fix"></div>
</div>

<h3>Cambie su contraseña</h3>
<p><br></p>
{% block fos_user_content %}
{% include "CoobixUserBundle:User:Admin/cambiarContrasenia_content.html.twig" %}
{% endblock fos_user_content %}

{% endblock main_content %}


