{% extends "CoobixAdminBundle:Admin:index.html.twig" %}


{% block main_content %}
    <div class="page-header">
        <div class="right">

            {% set routeParams = { 'id': entity.getId(), 'class': admin.getClassName()|lower } %}

            <a href="{{ path('admin_show', routeParams) }}" class="btn btn-link btn-icon">
                <span class="glyphicon glyphicon-arrow-left" aria-hidden="true"></span> Volver</a>
        </div>
        <div class="fix"></div>
    </div>
    {{ form_start(form, {'attr': {'class': '', 'role': 'form'}}) }}
    {{ form_errors(form) }}
    {{ form_widget(form) }}

    {{ form_end(form) }}

{% endblock main_content %}
