{% extends "CoobixAdminBundle:Admin:edit.html.twig" %}

{% block page_header %} 
<div class="page-header">
    <div class="left"><strong>{#{ edit.getTitle() }#}</strong></div>
    <div class="right">
        {% set routeParams = { 'class': admin.getClassName()|lower } %}
        <a href="{{ path('admin_list', routeParams) }}" class="btn btn-link btn-icon list-icon">Ir al listado</a>
    </div>
    <div class="fix"></div>
</div>
{% endblock page_header %}