{% block email_bienvenida %} 

<p>Estimado/a {{ nombre }} {{ apellido }}:<br>
Se ha creado una cuenta para usted en el sistema de notificaciones electrónicas
del Tribunal Superior de Justicia de la provincia de La Rioja.<br><br>
Datos de la cuenta:<br>
Nombre: {{ nombre }}<br>
Apellido: {{ apellido }}<br>
Nombre de usuario: {{ nombreDeUsuario }}<br>
Contraseña: {{ pass }}<br>
Domicilio electrónico: {{ domicilioElectronico }}<br><br>

Para ingresar al sistema haga click en el siguiente link:
<a href="{{ dominio }}">{{ dominio }}</a><br><br>

Tribunal Superior de Justicia de la provincia de La Rioja
</p>
{% endblock email_bienvenida %}
