{% extends "CoobixAdminBundle:Admin:index.html.twig" %}

{% block foot_javascripts %}
    {{ parent() }}
    <script type="text/javascript" src="{{ asset('bundles/coobixadmin/js/ckeditor/ckeditor.js') }}"></script>
{% endblock foot_javascripts %}


{% block main_content %}
    <div class="page-header">
        <div class="left"><strong>{{ admin.getNewTitle() }}</strong></div>
        <div class="right">
            {% set routeParams = { 'class': admin.getClassName()|lower } %}
            <a href="{{ path('admin_list', routeParams) }}" class="btn btn-link btn-icon list-icon">Ir al listado</a>
        </div>
        <div class="fix"></div>
    </div>

    {% block form %}

        {{ form_start(form, {'attr': {'class': '', 'role': 'form'}}) }}
        {{ form_errors(form) }}
        {{ form_widget(form) }}

        {{ form_end(form) }}
    {% endblock form %}

{% endblock main_content %}
