{% extends "CoobixAdminBundle:Admin:show.html.twig" %}

{% block action_buttons %}
    {{ parent() }}
    {% set routeParams = { 'id': entity.getId() } %}
    <a href="{{ path('user_edit_roles_admin', routeParams) }}" class="btn btn-link padlock-icon btn-icon">Permisos</a>

{% endblock action_buttons %}

{% block panel_title %}
    <strong>Usuario: </strong>{{ entity }}
{% endblock panel_title %}

{% block show_fields %}

    <div class="row border-bottom padding-vert-10">
        <div class="col-md-2 ">Email</div>
        <div class="col-md-10 ">{{ entity.getEmail() }}</div>       
    </div>
    <div class="row border-bottom padding-vert-10">
        <div class="col-md-2 ">Nombre</div>
        <div class="col-md-10 ">{{ entity.getName() }}</div>       
    </div>
    <div class="row border-bottom padding-vert-10">
        <div class="col-md-2 ">Apellido</div>
        <div class="col-md-10 ">{{ entity.getLastName() }}</div>       
    </div>

    <div class="row border-bottom padding-vert-10">
        <div class="col-md-2 ">Usuario</div>
        <div class="col-md-10 ">{{ entity.getUsername() }}</div>       
    </div>

    <div class="row border-bottom padding-vert-10">
        <div class="col-md-2 ">Creado el</div>
        <div class="col-md-10 ">{{ entity.getCreatedAt() | date("d/m/Y H:i:s") }}</div>       
    </div>
    <div class="row border-bottom padding-vert-10">
        <div class="col-md-2 ">Ultima actualización</div>
        <div class="col-md-10 ">{{ entity.getUpdatedAt() | date("d/m/Y H:i:s") }}</div>       
    </div>
    <div class="row border-bottom padding-vert-10">
        <div class="col-md-2 ">Rol:</div>
        <div class="col-md-10 ">{{ entity.getRolesName() }}</div>       
    </div>


{% endblock show_fields %}
