{% block doctype %}
    {% trans_default_domain 'FOSUserBundle' %}
    <!DOCTYPE html>
    <html lang="{{ locale }}">
        <head>
            <meta charset="utf-8">
            <meta http-equiv="X-UA-Compatible" content="IE=edge">
            <meta name="viewport" content="width=device-width, initial-scale=1">
            <meta name="description" content="">
            <meta name="author" content="">
            <link rel="shortcut icon" href="">

            <title>{{ 'main.title'|trans }}</title>

            {% block stylesheets %}
                <link href="{{ asset('bundles/coobixuser/css/bootstrap/bootstrap-3.1.1-dist/css/bootstrap.min.css') }}" rel="stylesheet">
            {% endblock stylesheets %}

            {% block javascripts %}
                <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
                <!--[if lt IE 9]>
                  <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
                  <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
                <![endif]-->
            {% endblock javascripts %}
        </head>

        <body>
            {% block body_content %}   

                <div class="alert-wrapper">
                    {% for flashMessage in app.session.flashbag.get('success') %}
                        <div class="alert alert-success">
                            {{ flashMessage }}
                        </div>
                    {% endfor %}

                    {% for flashMessage in app.session.flashbag.get('info') %}
                        <div class="alert alert-info">
                            {{ flashMessage }}
                        </div>
                    {% endfor %}

                    {% for flashMessage in app.session.flashbag.get('warning') %}
                        <div class="alert alert-warning">
                            {{ flashMessage }}
                        </div>
                    {% endfor %}

                    {% for flashMessage in app.session.flashbag.get('danger') %}
                        <div class="alert alert-danger">
                            {{ flashMessage }}
                        </div>
                    {% endfor %}
                </div>
                {% block main_content %}


                {% endblock main_content %}


                {% block foot_javascripts %}
                    <script src="{{ asset('bundles/coobixuser/js/jquery/jquery-1.11.1.min.js') }}"></script>
                    <script src="{{ asset('bundles/coobixuser/js/bootstrap/bootstrap-3.1.1-dist/js/bootstrap.min.js') }}"></script>
                {% endblock foot_javascripts %}

            {% endblock body_content %}



        </body>
    </html>
{% endblock doctype %}