{% extends "CoobixUserBundle::index.html.twig" %}
{% trans_default_domain 'FOSUserBundle' %}
{% block stylesheets %}
    {{ parent() }}
    <link href="{{ asset('bundles/coobixuser/css/signin.css') }}" rel="stylesheet">
{% endblock stylesheets %}

{% block main_content %}
    <div class="wrapper">
        <div class="navbar navbar-default navbar-static-top" role="navigation">

            <div class="header-container">
                <h1 class="header-tittle">{{ 'main.main_title'|trans }}</h1>
                <div class="fix"></div>
            </div>
        </div>

        <div class="container">
            {# 
            <div>
            {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                {{ 'layout.logged_in_as'|trans({'%username%': app.user.username}, 'FOSUserBundle') }} |
                <a href="{{ path('fos_user_security_logout') }}">
                {{ 'layout.logout'|trans({}, 'FOSUserBundle') }}
                </a>
            {% else %}
                <a href="{{ path('fos_user_security_login') }}">{{ 'layout.login'|trans({}, 'FOSUserBundle') }}</a>
            {% endif %}
            </div>
        #}
            {% for type, messages in app.session.flashbag.all() %}
                {% for message in messages %}
                    <div class="flash-{{ type }}">
                        {{ message }}
                    </div>
                {% endfor %}
            {% endfor %}
            <div>
                {% block fos_user_content %}
                {% endblock fos_user_content %}
            </div>
        </div>
        <div class="push"></div>
    </div>

    <div id="footer">
        <p class="footer-container">{{ 'main.footer_title'|trans }} {{ "now"|date("Y") }}</p>
    </div>
{% endblock main_content %}
