{% block fos_user_content %}
    
    {% trans_default_domain 'FOSUserBundle' %}

    <form class="form-signin" role="form" action="{{ path("fos_user_security_check") }}" method="post">
        <h3 class="form-signin-heading">{{ 'security.login.login_title'|trans }}</h3>

        {% if error %}
            <div>{{ 'security.login.error'|trans }}</div>

        {% endif %}

        <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />

        <input class="form-control" placeholder="{{ 'security.login.username'|trans }}" type="text" id="username" name="_username" value="{{ last_username }}" required="required" />
        <p></p>
        <input class="form-control" placeholder="{{ 'security.login.password'|trans }}" type="password" id="password" name="_password" required="required" />
        {# 
        <input class="btn btn-lg btn-primary btn-block" type="submit" id="_submit" name="_submit" value="{{ 'security.login.submit'|trans }}" />
        #}

    </form>
{% endblock fos_user_content %}
