{% extends "FOSUserBundle::layout.html.twig" %}

{% trans_default_domain 'FOSUserBundle' %}

{% block fos_user_content %}
    <form class="form-signin" role="form" action="{{ formUrl }}" method="post">
        <h3 class="form-signin-heading">{{ 'security.login.login_title'|trans }}</h3>

        {% if error %}
            <div>{{ error.messageKey|trans(error.messageData, 'security') }}</div>

        {% endif %}

        <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />

        <input class="form-control" placeholder="{{ 'security.login.username'|trans }}" type="text" id="username" name="_username" value="{{ last_username }}" required="required" />

        <input class="form-control" placeholder="{{ 'security.login.password'|trans }}" type="password" id="password" name="_password" required="required" />

        {% block rememberMe %}     
            <label class="checkbox">
                <input  type="checkbox" id="remember_me" name="_remember_me" value="on" /> {{ 'security.login.remember_me'|trans }}
            </label>
        {% endblock rememberMe %}

        {% block recaptcha %}
            {% if (recaptchaSiteKey is not null) %}
                <div class="">
                    <div class="g-recaptcha" data-sitekey="{{ recaptchaSiteKey }}"></div>
                    <script src='https://www.google.com/recaptcha/api.js?hl={{ locale }}'></script>
                    <p><br></p>
                </div>
            {% endif %}
        {% endblock recaptcha %}

        <input class="btn btn-lg btn-primary btn-block" type="submit" id="_submit" name="_submit" value="{{ 'security.login.submit'|trans }}" />

        {% block forgotPass %}
            <p>
                <br>{{ 'security.login.forgot_pass'|trans }} {{ 'security.login.make_click'|trans }} <a href="{{ path("fos_user_resetting_request") }}">{{ 'security.login.here'|trans }}</a>.
            </p>
        {% endblock forgotPass %}

        {% block register %}
            <p>
                {{ 'security.login.no_account'|trans }} <a href="{{ path("fos_user_registration_register_web") }}">{{ 'security.login.register'|trans }}</a>.
            </p>
        {% endblock register %}

    </form>
{% endblock fos_user_content %}
