{% extends "FOSUserBundle::layout.html.twig" %}

{% trans_default_domain 'FOSUserBundle' %}

{% block fos_user_content %}
    

    <p>
        {{ 'resetting.check_email'|trans({'%tokenLifetime%': tokenLifetime}) }}
    </p>
    <p>
        <a href="{{ path('fos_user_security_login') }}" class="" title="{{ 'all.back'|trans }}">{{ 'all.back'|trans }}</a>
    </p>
{% endblock %}
