{% extends "FOSUserBundle::layout.html.twig" %}

{% trans_default_domain 'FOSUserBundle' %}

{% block fos_user_content %}
<p>{{ 'resetting.password_already_requested'|trans }}</p>
<p>
    <a href="{{ path('fos_user_security_login') }}" title="{{ 'all.back'|trans }}">{{ 'all.back'|trans }}</a>
</p>
{% endblock fos_user_content %}
