{% trans_default_domain 'FOSUserBundle' %}

<p>Por favor ingrese su nombre de usuario o e-email.</p> 

<p><br></p>

<form class="form-signin" role="form" action="{{ path('fos_user_resetting_send_email') }}" method="POST" class="fos_user_resetting_request">
    <div>
        {% if invalid_username is defined %}
            <p>{{ 'resetting.request.invalid_username'|trans({'%username%': invalid_username}) }}</p>
        {% endif %}
        <label for="username">{{ 'resetting.request.username'|trans }}</label>
        <input class="form-control" type="text" id="username" name="username" required="required" />
    </div>
    <p></p>
    <div class="">
        {{ recaptchaMsg }}
        {% if (recaptchaSiteKey is not null) %}
            <div class="g-recaptcha" data-sitekey="{{ recaptchaSiteKey }}"></div>
            <script src='https://www.google.com/recaptcha/api.js?hl={{ locale }}'></script>
        {% endif %}
        <p><br></p>
    </div>
    <div>
        <input type="submit" class="btn btn-info" value="{{ 'resetting.request.submit'|trans }}" />
    </div>

    <p>
        <br>
        <a href="{{ path('fos_user_security_login') }}" title="{{ 'all.back'|trans }}">{{ 'all.back'|trans }}</a>
    </p>
</form>

