{% trans_default_domain 'FOSUserBundle' %}
<form action="{{ path('fos_user_resetting_reset', {'token': token}) }}"  method="POST" class="fos_user_resetting_reset">
    {{ form_widget(form) }}
    <div>
        <input class="btn btn-info"  type="submit" value="{{ 'resetting.reset.submit'|trans }}" />
    </div>
</form>
