{% extends "FOSUserBundle::layout.html.twig" %}

{% block fos_user_content %}
{% trans_default_domain 'FOSUserBundle' %}


    <p>
        <br>
        <a href="{{ path('fos_user_security_login') }}" class="" title="Volver">Volver</a>
    </p>


{% endblock fos_user_content %}
