{% extends "FOSUserBundle::layout.html.twig" %}

{% trans_default_domain 'FOSUserBundle' %}

{% block fos_user_content %}
<p>{{ 'registration.check_email'|trans({'%email%': user.email}) }} {{ 'resetting.check_spam_folder'|trans }}</p>
<p>
    <a href="{{ path('fos_user_security_login') }}" class="" title="Volver">Volver</a>
</p>
{% endblock fos_user_content %}
