{% trans_default_domain 'FOSUserBundle' %}

<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi quam risus, aliquam sit amet ultrices id, tincidunt faucibus turpis. Nulla facilisi. Donec lacus mauris, auctor non magna volutpat, ornare pretium augue. Donec vehicula pellentesque nisi, ut eleifend orci blandit a. Nullam convallis arcu in elit condimentum ullamcorper. In quis dictum nibh. Cras tempus consequat placerat.</p>
<p><br></p>


<form  role="form" action="{{ path('fos_user_registration_register') }}" {{ form_enctype(form) }} method="POST" class="fos_user_registration_register">
    {{ form_widget(form) }}
    {# 
    <div>
        <input type="submit" value="{{ 'registration.submit'|trans }}" />
    </div>
    #}
</form>
<p><br><br></p>
