{% extends "FOSUserBundle::layout.html.twig" %}
{% block fos_user_content %}
    {% trans_default_domain 'FOSUserBundle' %}

    {% block form %}


        {{ form_start(form, {'attr': {'class': '', 'role': 'form'}}) }}


        {{ form_errors(form) }}

        {{ form_row(form.email) }}

        {{ form_row(form.username) }}

        {{ form_row(form.plainPassword) }}

        {{ form_row(form.name) }}

        {{ form_row(form.lastname) }}


        <div class="">
            {{ recaptchaMsg }}
            {% if (recaptchaSiteKey is not null) %}
                <div class="g-recaptcha" data-sitekey="{{ recaptchaSiteKey }}"></div>
                <script src='https://www.google.com/recaptcha/api.js?hl={{ locale }}'></script>
            {% endif %}
            <p><br></p>
        </div>

        {{ form_end(form) }}
    {% endblock form %}


    <p>
        <br>
        <a href="{{ path('fos_user_security_login') }}" class="" title="Volver">Volver</a>
    </p>


{% endblock fos_user_content %}

