  
body {
    padding-top: 0px;
    padding-bottom: 0px;
    /* background-color: #eee;*/ 
    background-color: #F8F8F8;
    margin: 0;
}

/* Top Menu */
.navbar-nav > li > a {
    padding-left: 17px;
}


/* Header */

.header-container {
    padding: 7px 15px;
    background-color: #F8F8F8;
}

#dashboard-logo {
    margin-top: 5px;
    padding: 0px;
    height: 40px;
}

.header-tittle {  
    margin: 5px 0 0 0px;
    text-align: center;
    
    
}

/* Form */


.form-signin {
    max-width: 330px;
    padding: 15px;
    margin: 0 auto;
}
.form-signin .form-signin-heading,
.form-signin .checkbox {
    margin-bottom: 10px;
}
.form-signin .checkbox {
    font-weight: normal;
}
.form-signin .form-control {
    position: relative;
    height: auto;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 10px;
    font-size: 16px;
}
.form-signin .form-control:focus {
    z-index: 2;
}
.form-signin input[type="email"] {
    margin-bottom: -1px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}
.form-signin input[type="password"] {
    margin-bottom: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

/* Footer */
#footer, .push {
    height:60px;            /* Altura del footer */
}
#footer {
    width:100%;
    background-color: #F8F8F8;
}

body, html {
    min-height: 100%;
    height: 100%;
}

.wrapper {
    min-height: 100%;
    height: auto !important;
    height: 100%;
    margin: 0 auto -60px; /* the bottom margin is the negative value of the footer's height */
}


.footer-container {
    text-align: center;
}



.fix {
    clear: both;
}