{% extends "CoobixUserBundle:Account:index.html.twig" %}

{% block main_content %}

<div class="page-header">  
    <div class="right">
    {% block action_buttons %}

    <a href="{{ path('user_profile_account') }}" class="btn btn-link status-online-icon btn-icon">Ir a mi cuenta</a>
    
    {% endblock action_buttons %}
    </div>
    <div class="fix"></div>
</div>


{% block fos_user_content %}
{% include "FOSUserBundle:ChangePassword:change_password_content.html.twig" %}
{% endblock fos_user_content %}

{% endblock main_content %}


