{% trans_default_domain 'FOSUserBundle' %}


<form role="form" action="{{ path('fos_user_change_password') }}" method="POST" class="fos_user_change_password">
    {{ form_widget(form) }}
    <div>
        <input class="btn btn-default right" type="submit"  value="{{ 'change_password.submit'|trans }}" />
    </div>
</form>
