{% extends "CoobixUserBundle:Account:index.html.twig" %}

{% block main_content %}

{% block panels %}
<div class="page-header">
    <h1>Mi cuenta</h1>
</div>

<div class="row">
        <div class="col-sm-4">
          <div class="panel panel-default">
            <div class="panel-heading">
              <h3 class="panel-title">Panel title</h3>
            </div>
            <div class="panel-body">
              Panel content
            </div>
          </div>
            
          
        </div><!-- /.col-sm-4 -->
      </div>

{% endblock panels %}

{% endblock main_content %}