{% extends "CoobixUserBundle:Account:edit.html.twig" %}

{% block page_header %} 
<div class="page-header">
    <div class="left"><strong>{#{ edit.getTitle() }#}</strong></div>
    <div class="right">
        <a href="{{ path('user_profile_account') }}" class="btn btn-link status-online-icon btn-icon">Ir a mi perfil</a>
    </div>
    <div class="fix"></div>
</div>
{% endblock page_header %}