{% extends "CoobixUserBundle:Account:index.html.twig" %}

{% block foot_javascripts %}
    {{ parent() }}
    <script type="text/javascript" src="{{ asset('bundles/coobixadmin/js/ckeditor/ckeditor.js') }}"></script>
{% endblock foot_javascripts %}

{% block main_content %}

    {% block page_header %} 

    {% endblock page_header %}

    {% block form %}
        
        {{ form_start(form, {'attr': {'class': '', 'role': 'form'}}) }}
        {{ form_errors(form) }}
        {{ form_widget(form) }}

        {{ form_end(form) }}
    {% endblock form %}

{% endblock main_content %}