
<!-- Static navbar -->
<div class="navbar navbar-default navbar-static-top" role="navigation">
    {#   <div class="container"> #}
    <div class="header-container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" id="dashboard-logo" href="{{ path('admin') }}">
                <img src="{{ asset('images/logo_header_dashboard.png') }}" >
            </a>
        </div>
        <div class="navbar-collapse collapse">

            <ul class="nav navbar-nav navbar-right">
                {# 
                <li><a href="../navbar/">Default</a></li>
                <li class="active"><a href="./">Static top</a></li>
                #}   
                
                <!-- Mobile - Items -->
                <li role="separator" class="divider"></li>
                
                <li>
                    <a class="visible-xs visible-sm" href="{{ path('admin') }}">
                        <span class="glyphicon glyphicon-arrow-left" aria-hidden="true"></span>
                            Volver</a>
                </li>
               {# #}

                {# 
               {% set routeParams = { 'id': app.user.id, 'entity': 'user' } %}
                <li>                     
                    <a  href="{{ path('user_account') }}" role="button" class="btn-link dropdown-toggle" data-toggle="dropdown">{{ app.user.username }} <b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li><a  href="{{ path('user_account') }}">Mi cuenta</a></li>
                        <li><a  href="{{ path('user_editprofile_admin') }}">Editar mis datos</a></li>
                        <li><a  href="{{ path('fos_user_change_password') }}">Cambiar contraseña</a></li>
                    </ul>
                </li>

                <li>
                    <span class="icons-sep">|</span>
                </li>

                <li>
                    <a class="door-out-icon btn-link" href="{{ path('fos_user_security_logout') }}">Salir</a>
                </li>
                #}
                
              

                <li>
                    <a class="door-out-icon btn-link" href="{{ path('fos_user_security_logout') }}">Salir</a>
                </li>
            </ul>
        </div><!--/.nav-collapse -->
    </div>
    {#   </div> #}
</div>