{% block doctype %}
    {% trans_default_domain 'FOSUserBundle' %}
    <!DOCTYPE html>
    <html lang="en">
        <head>
            <meta charset="utf-8">
            <meta http-equiv="X-UA-Compatible" content="IE=edge">
            <meta name="viewport" content="width=device-width, initial-scale=1">
            <meta name="description" content="">
            <meta name="author" content="">
            <link rel="shortcut icon" href="{{ asset('bundles/coobixuser/images/favicon.ico') }}">

            <title>{{ 'main.title'|trans }}</title>

            {% block stylesheets %}
                {# Bootstrap core CSS #}
                <link href="{{ asset('bundles/coobixuser/css/bootstrap/bootstrap-3.1.1-dist/css/bootstrap.min.css') }}" rel="stylesheet">

                {# Custom styles for this template #}
                <link href="{{ asset('bundles/coobixuser/css/dashboard.css') }}" rel="stylesheet">

                <link href="{{ asset('bundles/coobixpager/css/layout.css') }}" rel="stylesheet">

            {% endblock stylesheets %}

            {% block javascripts %}
                <!-- Just for debugging purposes. Don't actually copy this line! -->
                <!--[if lt IE 9]><script src="../../assets/js/ie8-responsive-file-warning.js"></script><![endif]-->

                <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
                <!--[if lt IE 9]>
                  <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
                  <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
                <![endif]-->
            {% endblock javascripts %}
        </head>

        <body>
            {% block body_content %}   

                {% block header %}                 
                    {% include 'CoobixUserBundle:Account:header.html.twig' %}
                {% endblock header %}

                <div class="alert-wrapper">
                    {% for flashMessage in app.session.flashbag.get('success') %}
                        <div class="alert alert-success">
                            {{ flashMessage }}
                        </div>
                    {% endfor %}

                    {% for flashMessage in app.session.flashbag.get('info') %}
                        <div class="alert alert-info">
                            {{ flashMessage }}
                        </div>
                    {% endfor %}

                    {% for flashMessage in app.session.flashbag.get('warning') %}
                        <div class="alert alert-warning">
                            {{ flashMessage }}
                        </div>
                    {% endfor %}

                    {% for flashMessage in app.session.flashbag.get('danger') %}
                        <div class="alert alert-danger">
                            {{ flashMessage }}
                        </div>
                    {% endfor %}
                </div>

                {% block sidebar %}                 
                    {% include 'CoobixUserBundle:Account:sidebar.html.twig' %}
                {% endblock sidebar %}
                {# Columna central #}

                <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">

                    {% block alerts %}
                        {# 
                        <div class="alert alert-success">
                            <strong>Well done!</strong> You successfully read this important alert message.
                        </div>
                        <div class="alert alert-info">
                            <strong>Heads up!</strong> This alert needs your attention, but it's not super important.
                        </div>
                        <div class="alert alert-warning">
                            <strong>Warning!</strong> Best check yo self, you're not looking too good.
                        </div>
                        <div class="alert alert-danger">
                            <strong>Oh snap!</strong> Change a few things up and try submitting again.
                        </div>
    #}
                    {% endblock alerts %}
                    <div class="fix"><br></div>
                        {% block main_content %}


                    {% endblock main_content %}
                </div>
            </div>
        </div>

        {% block foot_javascripts %}
            <!-- Bootstrap core JavaScript
            ================================================== -->
            <!-- Placed at the end of the document so the pages load faster -->

            <script src="{{ asset('bundles/coobixuser/js/jquery/jquery-1.11.1.min.js') }}"></script>
            <script src="{{ asset('bundles/coobixuser/js/bootstrap/bootstrap-3.1.1-dist/js/bootstrap.min.js') }}"></script>
            <script src="{{ asset('bundles/coobixuser/js/bootboxjs/bootbox.min.js') }}"></script>
            <script type="text/javascript" src="{{ asset('bundles/coobixuser/js/dashboard.js') }}"></script>
            {#
            <script src="../../assets/js/docs.min.js"></script>
            #}
            {# 
            <script src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>
            <script src="{{ path('fos_js_routing_js', {"callback": "fos.Router.setData"}) }}"></script>
        #}
        {% endblock foot_javascripts %}

    {% endblock body_content %}



</body>
</html>
{% endblock doctype %}