{% extends "CoobixUserBundle:Account:show.html.twig" %}

{% set user = app.user %}

{% block page_header %} 
    <div class="page-header">   
        <div class="right">
            {% block action_buttons %}
                <a href="{{ path('user_editprofile_account') }}" class="btn btn-link pencil-icon btn-icon">Editar mis datos</a>
                <a href="{{ path('fos_user_change_password') }}" class="btn btn-link key-icon btn-icon">Cambiar contraseña</a>
                {# 
                <a href="" class="btn btn-link pdf-icon btn-icon">PDF</a>
                #}
            {% endblock action_buttons %}
        </div>
        <div class="fix"></div>
    </div>
{% endblock page_header %}


{% block data_panel %}  
    <div class="panel panel-info">
        <div class="panel-heading">
            <h3 class="panel-title">
                {% block panel_title %}
                    <strong>Mi Perfil</strong>
                    
                {% endblock panel_title %}
            </h3>
        </div>
        <div class="panel-body">
            {% block show_fields %}
                <div class="row border-bottom padding-vert-10">
                    <div class="col-md-2 ">Usuario</div>
                    <div class="col-md-10 ">{{ entity.getUsername() }}</div>       
                </div>
                <div class="row border-bottom padding-vert-10">
                    <div class="col-md-2 ">Email Personal</div>
                    <div class="col-md-10 ">{{ entity.getEmail() }}</div>       
                </div>
                <div class="row border-bottom padding-vert-10">
                    <div class="col-md-2 ">Nombre</div>
                    <div class="col-md-10 ">{{ entity.getName() }}</div>       
                </div>
                <div class="row border-bottom padding-vert-10">
                    <div class="col-md-2 ">Apellido</div>
                    <div class="col-md-10 ">{{ entity.getLastName() }}</div>       
                </div>
            {% endblock show_fields %}
        </div>
    </div>
{% endblock data_panel %}