{% block sidebar %}

    <div class="container-fluid">
        {# Menu #}
        <div class="row">
            <div class="col-sm-3 col-md-2 sidebar">
                <ul class="nav nav-sidebar">

                    <li>
                        <a  href="{{ path('admin') }}">
                            <span class="glyphicon glyphicon-arrow-left" aria-hidden="true"></span>
                            Volver
                        </a>
                    </li>    
                    <li>
                        <a  href="{{ path('user_profile_account') }}">
                            Mi Perfil
                        </a>
                    </li>
                    <li>
                        <a  href="{{ path('fos_user_change_password') }}">
                            Cambiar Contraseña
                        </a>
                    </li>
                </ul>

            </div>
        </div>


    </div>

{% endblock sidebar %}